@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-start: #7fba3c;
  --gradient-end: #008080;
}

.bg-brand-gradient {
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
}

.text-gradient {
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}